# Byte-compiled / cached
__pycache__/
*.py[cod]
*$py.class
*.so


# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
static/

# Environment
.env
.env.*
venv/
env/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Migrations (agar migratsiyalarni track qilmoqchi bo'lmasangiz - odatda track qilingani ma'qul)
# migrations/

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# Coverage / testing
htmlcov/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml